<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin LK</title>
</head>
<body>
        <h1 id="work"></h1>
        <p id="builder"></p>
        <p id="address"></p>

        <h1>Funcionários</h1>
        <table>
            <thead>
                <tr><th>Nome</th></tr>
                <tr>Empresa de registro</tr>
                <tr>Profissão</tr>
                <tr>Valor diária</tr>
                <tr>Dias trabalhados</tr>
            </thead>
            <tbody id="employees-table"></tbody>
        </table>

    <script src="../js/work.js"></script>
</body>
</html>